<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>jsp</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
    <servlet>
	  <servlet-class>kr.or.ddit.servlet.BasicServelt</servlet-class>
	  <servlet-name>basicServlet</servlet-name>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>basicServlet</servlet-name>
		<url-pattern>/bs</url-pattern>
	</servlet-mapping>

	 <servlet>
	  <servlet-class>kr.or.ddit.servlet.NowDate</servlet-class>
	  <servlet-name>nowDate</servlet-name>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>nowDate</servlet-name>
		<url-pattern>/nowDate</url-pattern>
	</servlet-mapping>
	
	<servlet>
	  <servlet-class>kr.or.ddit.servlet.TimesServelt</servlet-class>
	  <servlet-name>timesServelt</servlet-name>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>timesServelt</servlet-name>
		<url-pattern>/timesServelt</url-pattern>
	</servlet-mapping>
	
</web-app>